* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', sans-serif;
    background-color:#FFFCF5;
}



/* Logo section */
.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
    position: relative;  
    margin-top: 0.50em;
}

.horizontal-line {
    flex-grow: 1;
    height: 0.03125em;
    background-color: #34272158;
}

.logo {
    text-align: center;
    padding: 0 2.5em;
    position: relative;
    top: 0.1875em;
}

.logo img {
    width: 12.25em;
}


/* Link */
.link-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3125em 3.125em; 
    margin-top: -2.1875em; 
}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.quote img {
    max-width: 84%;
    height: auto;
}


.open-book {
    width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
    margin-top: -25em;
    margin-bottom: 0;
    opacity: 0.8;

}

.book-left {
    position: absolute;
    right: 14.5%; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 11em; 
    height: auto;
    z-index: 3; 
   margin-top: 6.7em;
    display: block;
    opacity: 0.7;

}
.book-left2 {
    position: absolute;
    right: 26.8%; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 9.5em; 
    height: auto;
    z-index: 2; 
   margin-top: 3.7em;
   opacity: 0.7;

}
.book-left3 {
    position: absolute;
    right: 2.6%; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 10.5em; 
    height: auto;
    z-index: 2; 
   margin-top: 5.7em;
   opacity: 0.7;

}

.book-left4 {
    position: absolute;
    left: 14.5%; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 11em; 
    height: auto;
    z-index: 3; 
   margin-top: 6.7em;
    display: block;
    opacity: 0.7;

}
.book-left5 {
    position: absolute;
    left: 27%; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 9.5em; 
    height: auto;
    z-index: 2; 
   margin-top: 3.7em;
   opacity: 0.7;


}
.book-left6 {
    position: absolute;
   left: 2.6%; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 10.5em; 
    height: auto;
    z-index: 2; 
   margin-top: 5.7em;
   opacity: 0.7;



}
#nav {
    position: absolute;
    right: 1.75em;
    top: 0;
    height: 3.75em;
    display: flex;
    align-items: center;
    margin-right: 2.6em;
    margin-left: 2.6em;
    margin-top: 0.5em;
}

#nav .button {
    margin-top: 0;
    padding: 0.275em 1.1875em;
    border-radius: 2em;
    background-color: #FDE9C8;
    color: #2f231e;
    font-weight: 400;
    font-family: 'Bitter', sans-serif;
    text-decoration: none; 

}

#nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    
}

#nav li  {
    position: relative;
    margin: 0 1em;
}

#nav li .link{
    height: 3.75em;
    line-height: 3.75em;
    font-variation-settings: 'wght' 500;
    color: #2f231e;
    font-weight: 400;
    font-family: 'Bitter', sans-serif;
    text-decoration: none; 

}



#nav .button:hover {
    background-color: #F8D49D;
    color: #fff;
}


#nav li .link:hover {
    color: #F8D49D;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
    background-color: #f4f2ed !important;
    color: #2f231e9e;
}

footer  * {
    background-color: transparent !important; 
}
.bottom-bar  * {
    background-color: transparent !important; 
}
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

  
  .social-icons {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    margin-bottom: 3.125em;
     width: 4.375em;
    height:4.375em;
    
  }
  
  .social-icons li {
    display: inline;
     display: flex;
    align-items: center;
    color: #2f231e9e;
    text-decoration: none;
      margin-top:  0.625em;
    
  }
  
  .social-icons li a img {
   width: 1.25em;
    height: 1.25em;
    
    
  }
  
  .contact-us ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 3.125em;
      margin-top: 0.725em;
      
  }
  
  .contact-us li {
    margin-bottom:  0.625em;
    font-size: 0.875em;
    color: #2f231e9e;
    
  }
  
  .contact-us li a {
    display: flex;
    align-items: center;
    color: #2f231e9e;
    text-decoration: none;
      margin-left: 1.875em;
  
  }
  
  .contact-us li img {
    margin-left: 2.375em; 
    width:1.25em;
    height: 1.25em;
  }
  h3{
        margin-top: 3.125em;
          margin-bottom: 0px;
  
  }
  li{
  margin-bottom: 1.25em;}
   .bottom-bar{
    background-color: #f4f2ed !important;
          text-align: center;
          padding: 0px 0;
          margin-top: 0px;
      }
      .bottom-bar p{
          color: #2f231e9e;
          margin: 0;
          font-size: 0.725em;
          padding: 0.4375em;}